<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
<div class="row">
  <div class="col-sm-8">
    <div class="jumbotron">
      <h1>This an about page</h1>
      <p>We are happy to let you know about us</p>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="well">
      <h3>I am A sidebar living here!</h3>
    </div>
  </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
